[Unit]
Description=keyd application mapper
PartOf=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/keyd-application-mapper
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
